
    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    body {
      background: #fff;
    }

    .float_right{
      float:right;
    }

    .input-field input[type=date]:focus + label,
    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
    }

    .input-field input[type=date]:focus,
    .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 2px solid #e91e63;
      box-shadow: none;
    }

    .container{
      margin-top: 112px;
    }

    .form_image{
      height:83px;
      width:83px;
      float:left;
      overflow: hidden;
      position: relative;
      border: 1px #ddd solid;
      margin-right: 10px;
      text-align: center;
    }

    .form_image span{
      text-align: center;
      width: 100%;
    }

    .form_image img{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      max-width: 100%;
      max-height:100%;
    }

    .activator:hover{
      cursor: pointer;
    }

    .flash{
      padding:10px;
      width:100%;
      color:#fff;
    }

    .flash.alert-info{
      background-color: blue;
    }

    .flash.alert-danger{
      background-color: red;
    }

    .parallax_image{
      width:100%;
    }

    .parallax_image img{
      width:100%;
      height:auto;
    }
