<!DOCTYPE html>

<html lang="en" ng-app="StarterApp">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body layout="row" ng-controller="AppCtrl">

    <!-- SIDEBAR -->

    <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>

  <!-- NAVBAR -->
<div class="navbar-fixed nav-extended">
  <nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="left button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo">muZova</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>

      <ul class="tabs grey darken-4">
        <li class="tab"><a class="waves-effect active" href="#test1">Posts</a></li>
        <li class="tab"><a class="waves-effect" href="#test2">Images</a></li>
        <li class="tab"><a class="waves-effect" href="#test4">Events</a></li>
        <li class="tab"><a class="waves-effect" href="#news">News</a></li>
      </ul>

    </div>

  </nav>
</div>

  <!-- POSTS -->
  <div id="test1" class="col s12">
    <div ng-controller="AdminController">
      <div class="postTiles" ng-repeat="act in actdata.data">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l4" ng-repeat="post in act.post">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="img/sample-1.jpg">
                    <span class="card-title">
                      {{post.post_title}}
                    </span>
                  </div>
                  <div class="card-content">
                    <p class="activator grey-text text-lighten-1">{{post.created_at}}<i class="material-icons right">more_vert</i></p>

                    <p class="flow-text">{{post.post_text}}</p>

                  </div>

                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>


  <!-- IMAGES -->
  <div id="test2" class="col s12">
    <div ng-controller="AdminController">
      <div class="imageTiles" ng-repeat="act in actdata.data">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l3" ng-repeat="image in act.image">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="https://s3.amazonaws.com/soundfi-content-1/{{image.image_thumb_url}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p>{{image.created_at}}</p>
                  </div>

                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>


  <!-- EVENTS -->
  <div id="test4" class="col s12">
    <div ng-controller="AdminController">
      <div class="eventTiles" ng-repeat="act in actdata.data">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l4" ng-repeat="event in act.event">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="img/sample-1.jpg">
                    <span class="card-title">
                      <time class="date day col-sm-2">{{event.event_date | day }}</time>
                      <time class="date month col-sm-2">{{event.event_date | month }}</time></span>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
</div>
            <!-- NEWS -->
            <div id="news" class="col s12">
              <div ng-controller="AdminController">
                <div class="newsTiles" ng-repeat="act in actdata.data">
              <div class="row">

                  <div class="section padding">
                    <div class="padding col s12 m6 l4" ng-repeat="news in act.news">
                  <div class="card hoverable">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4">{{news.news_title}}<i class="material-icons right">more_vert</i></span>
                      <blockquote ng-show="news.news_blockquote">
                        "{{news.news_blockquote}}"
                      </blockquote>
                      <p class="activator">{{news.news_content_text | limitTo:letterLimit | maxLines: linesLimit }}</p>
                      <div ng-show="(news.news_content_text | textSize:letterLimit:linesLimit) == true"><a class="waves-effect waves-light btn" href="#" ng-click="linesLimit = 150; letterLimit = 10000;"><span>read more</span></a></div>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>
              </div>


    <!-- Angular Material Dependencies -->
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

    <script src="/bower_components/angular/angular.js"></script>
    <!-- <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script> -->
    <script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>

    <script src="app.js"></script>
    <script src="adminController.js"></script>
    <script src="materialControls.js"></script>
  </body>
</html>
