<!DOCTYPE html>

<html lang="en" ng-app="StarterApp">
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/styles.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
  </head>
  <body layout="row" ng-controller="AppCtrl">

    <div ng-controller="AdminController">

    <!-- SIDEBAR -->

    <ul id="slide-out" class="side-nav">
    <li><div class="userView">
      <div class="background">
        <img src="images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">John Doe</span></a>
      <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
    </div></li>
    <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
    <li><a href="#!">Second Link</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
  </ul>

  <!-- NAVBAR -->
<div class="navbar-fixed nav-extended">
  <nav class="nav-extended grey darken-4">
    <div class="nav-wrapper">
      <a href="#" data-activates="slide-out" class="left button-collapse show-on-large"><i class="material-icons">menu</i></a>
      <a href="#" class="brand-logo">muZova</a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <div class="chip">
            <img src="images/yuna.jpg" alt="Profile Pic">
            Jane Doe
          </div>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>

      <ul class="tabs grey darken-4 hide-on-small-only">
        <li class="tab"><a class="waves-effect active" href="#posts">Posts</a></li>
        <li class="tab"><a class="waves-effect" href="#images">Images</a></li>
        <li class="tab"><a class="waves-effect" href="#events">Events</a></li>
        <li class="tab"><a class="waves-effect" href="#news">News</a></li>
        <li class="tab"><a class="waves-effect" href="#drafts">Drafts</a></li>
        <li class="tab"><a class="waves-effect" href="#links">Links</a></li>
      </ul>

      <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li class="tab"><a class="waves-effect active" href="#posts">Posts</a></li>
          <li class="tab"><a class="waves-effect" href="#images">Images</a></li>
          <li class="tab"><a class="waves-effect" href="#events">Events</a></li>
          <li class="tab"><a class="waves-effect" href="#news">News</a></li>
          <li class="tab"><a class="waves-effect" href="#drafts">Drafts</a></li>
          <li class="tab"><a class="waves-effect" href="#links">Links</a></li>
        </ul>

      <ul class="tabs grey darken-4 hide-on-med-and-up">
        <li class="center-align"><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>

    </div>

  </nav>
</div>

    <div style="height:100%" data-loading>
      <div class="center-align"><h4>data loading</h4></div>
      <div class="valign-wrapper">
          <div class="progress valign">
            <div class="indeterminate"></div>
          </div>
        </div>
    </div>


  <!-- POSTS -->
  <div id="posts" class="col s12">
    <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="page-title"><h3>Posts</h3></div>
    <div>
      <div class="postTiles" ng-repeat="act in actdata">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l4" ng-repeat="post in act.post">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="img/sample-1.jpg">
                    <span class="card-title">
                      {{post.post_title}}
                    </span>
                  </div>
                  <div class="card-content">
                    <p class="activator grey-text text-lighten-1">{{post.created_at}}<i class="material-icons right">more_vert</i></p>

                    <p class="flow-text">{{post.post_text}}</p>

                  </div>

                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>


  <!-- IMAGES -->
  <div id="images" class="col s12">
    <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="page-title"><h3>Images</h3></div>
    <div>

      <div class="imageTiles" ng-repeat="act in actdata">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l3" ng-repeat="image in act.image">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="https://s3.amazonaws.com/soundfi-content-1/{{image.image_thumb_url}}">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p>{{image.created_at}}</p>
                  </div>

                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
    </div>


  <!-- EVENTS -->
  <div id="events" class="col s12">
    <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
    <div class="page-title"><h3>Events</h3></div>
    <div>
      <div class="eventTiles" ng-repeat="act in actdata">
      <div class="row">
          <div class="section padding">
            <div class="padding col s12 m6 l4" ng-repeat="event in act.event">
                <div class="card hoverable">
                  <div class="card-image">
                    <img class="activator" src="img/sample-1.jpg">
                    <span class="card-title">
                      <time class="date day col-sm-2">{{event.event_date | day }}</time>
                      <time class="date month col-sm-2">{{event.event_date | month }}</time></span>

                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
            </div>
          </div></div>
        </div>
      </div>
</div>
          <!-- NEWS -->

          <div id="news" class="col s12">
            <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="page-title"><h3>News</h3></div>

              <div>
                <div class="newsTiles" ng-repeat="act in actdata">
              <div class="row">

                  <div class="section padding">
                    <div class="padding col s12 m6 l4" ng-repeat="news in act.news">
                  <div class="card hoverable" ng-style="{background: doc_classes_colors[$index % doc_classes_colors.length]}">
                    <div class="card-content">
                      <span class="card-title activator grey-text text-darken-4" ng-click="linesLimit = 5; letterLimit = 300;">{{news.news_title}}<i class="material-icons right">more_vert</i></span>
                      <blockquote ng-show="news.news_blockquote">
                        "{{news.news_blockquote}}"
                      </blockquote>
                      <p class="activator" ng-click="linesLimit = 5; letterLimit = 300;">{{news.news_content_text | limitTo:letterLimit | maxLines: linesLimit }}</p>
                      <div ng-show="(news.news_content_text | textSize:letterLimit:linesLimit) == true"><a class="waves-effect waves-light" href="#" ng-click="linesLimit = 150; letterLimit = 10000;"><span>read more</span></a></div>
                    </div>

                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">{{news.news_title}}<i class="material-icons right">close</i></span>
                      <div class="center-align">
                        <div class="row">
                          <a class="waves-effect waves-light btn center-align"><i class="material-icons left">edit</i>edit</a>
                        </div>
                        <div class="row">
                          <a class="waves-effect waves-light btn center-align red"><i class="material-icons left">delete</i>delete</a>
                      </div>
                      </div>
                    </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- DRAFTS -->

        <div id="drafts" class="col s12">
          <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
              <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="page-title"><h3>Drafts</h3></div>

            <div>
              <div class="draftTiles" ng-repeat="act in actdata">
            <div class="row">

                <div class="section padding">
                  <div class="padding col s12 m6 l4" ng-repeat="draft in act.draft">
                <div class="card hoverable" ng-style="{background: doc_classes_colors[$index % doc_classes_colors.length]}">
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" ng-click="linesLimit = 5; letterLimit = 300;"><a name="{{draft.draft_id}}">{{draft.draft_title}}<i class="material-icons right">more_vert</i></span>
                    <p class="activator" ng-click="linesLimit = 5; letterLimit = 300;">{{draft.draft_text | limitTo:letterLimit | maxLines: linesLimit }}</p>
                    <div ng-show="(draft.draft_text | textSize:letterLimit:linesLimit) == true"><a class="waves-effect waves-light" href="#{{draft.draft_id}}" ng-click="linesLimit = 150; letterLimit = 10000;"><span>read more</span></a></div>
                  </div>

                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{draft.draft_title}}<i class="material-icons right">close</i></span>
                    <div class="center-align">
                      <div class="row">
                        <a class="waves-effect waves-light btn center-align"><i class="material-icons left">edit</i>edit</a>
                      </div>
                      <div class="row">
                        <a class="waves-effect waves-light btn center-align red"><i class="material-icons left">delete</i>delete</a>
                    </div>
                    </div>
                  </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LINKS -->
    <div class="container">
      <div id="links" class="col s12">
        <div class="fixed-action-btn" tyle="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="page-title"><h3>Links</h3></div>

        <div>
          <div class="linkTiles" ng-repeat="act in actdata">

            <div class="section padding">

            <div class="collection linkCollection">
                <a class="collection-item" ng-repeat="link in act.link">
                  <div href="#!" class="secondary-content col s1 m1 l1"><i class="material-icons">mode_edit</i></div>
                  <h5 class="col s12 m8 l6 grey-text text-darken-2"">{{link.link_title}}</h5>
                  <div class="col s12 m8 l6">({{link.link_url}})</div>

                </a>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>


      </div>
</div>

    <!-- Angular Material Dependencies -->
    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

    <script src="/bower_components/angular/angular.js"></script>
    <!-- <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script> -->
    <script src="/bower_components/angular-material-icons/angular-material-icons.js"></script>

    <script src="app.js"></script>
    <script src="adminController.js"></script>
    <script src="materialControls.js"></script>
  </body>
</html>
